.money {

  &__ul {
    display: flex;
    justify-content: space-between;
  }

  &__li {
    list-style-type: none;
    text-align: center;
  }

  &__img {
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.138462px;
    color: #36536B;
  }

  &__text {
    width: 350px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.115385px;
    color: #6C8294;
  }

  &__div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
  }
}